<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <!-- Here are the list of ConnectionStrings -->
    <add name="MSSQLConnectionString01" connectionString="Data Source=sourcename01;Initial Catalog=cat01;Persist Security Info=True;Integrated Security=true" />
    <!-- SQLite connect variables and setup -->
    <add name="SQLLiteConnectionString01" connectionString="Data Source=ModbusDb.db3;Version=3;FailIfMissing=True;Foreign Keys=True" />
  </connectionStrings>
  <appSettings>
    <!-- Clears custom application settings -->
    <clear />
    <!-- Here are the list of AppSettings -->
    <add key="TTN_APP_ID" value="campusborlangeelsys" />
    <add key="TTN_API_KEY" value="NNSXS.GTNTSDWU4ZBW365PKTHWGE4KL67KY75ZHVKCMZA.AC2JT7W3WIRZ3PVLQQXCAYFUTCWM5426VBVSAB7OC4GDBIC5SBQQ" />
    <add key="TTN_REGION" value="eu1" />
    <!-- Debug app. true or false, may override some settings from this file -->
    <add key="Debug" value="true" />
    <add key="TOKEN" value="-w5GGAXFT7C5Q4E2y7CCNfAunMmsf1p_RJxFjmw87erXYHPzah3-aqwoTjGtkdgIBRV9wZSic46q4cEbzJAehg==" />
    <add key="INFLUXDB_URL" value="http://influxdb:8086" />
    <add key="BUCKET_NAME" value="elsys" />
    <add key="ORGANISATION_ID" value="campusborlangeelsys" />
  </appSettings>
</configuration>
